<nav>
  <ul class="flex justify-between mx-5 border-gray border-solid border-1">
    <a href="/">Home</a> |
    <a href="/cal">Calendrier</a> |
    <a href="/mob">Mob Mois</a> |
    <a href="/compte">Compte</a> |
    <a href="/t">Test GC7</a>
  </ul>
  <ul class="flex justify-between mx-5 border-gray border-solid border-1">
    <a href="/guzzle">Guzzle</a> |
  </ul>
</nav>
