<nav>
  <h1>Lagg<span>y</span></h1>
  <ul>
    <li>Agenda</li>
    <li>user</li>
  </ul>
</nav>
<hr>
<div class="action-bar">
  <div class="container-switch">
    <ul>
      <li><button>S</button></li>
      <li><button class='active'>M</button></li>
      <li><button>A</button></li>
    </ul>
  </div>
  <div class="container-button"><button>+</button>
  </div>
</div>
<div class="date-bar">
  <h2>{{ data.mois }} {{ data.annee }}</h2>
  <ul>
    <li><button class='active'><</button></li>
      <li><button>></button></li>
    </ul>
  </div>
</div>
