HEADER
<div class="flex flex-col items-center max-w-2xl w-full mx-auto">
  <header class="pt-5 pb-5">
    <p class="text-2xl bold text-center">
      <h1>
        <a href="/">
          Agenda
        </a>
      </h1>
    </p>
    <h1 class="text-4xl text-center">
    {{ title |capitalize }}
    </h1>
  </header>
</div>
