<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" type="text/css" href="src/monthCalendar.css"/>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <!-- Canonical -->
        <link rel="canonical" href="https://www.example.com">
        <!-- Robots -->
        <meta name="robots" content="noindex, nofollow">
        <!-- Device -->
        <!-- <meta name="viwport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"> -->
        <meta name="viewport" content="width=device-width, initial-scale=1,
            minimum-scale=1, maximum-scale=5">
        <meta name="format-detection" content="telephone=no">
        <!-- Title -->
        <title>Mobile Laggy</title>
        <!-- Description -->
        <meta name="description" content="Home description.">
        <!-- Social -->
        <!-- Twitter -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="Quick Parcel Project — Home">
        <meta name="twitter:description" content="Home description.">
        <meta name="twitter:image" content="#">
        <!-- Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://www.example.com">
        <meta property="og:title" content="Quick Parcel Project — Home">
        <meta property="og:description" content="Home description.">
        <meta property="og:image" content="#">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="630">
        <!-- Favicon -->
        <meta name="theme-color" content="#fff">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap"
            rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Fanwood+Text:ital@0;1&family=Tenor+Sans&display=swap"
            rel="stylesheet">
    </head>
    <body>
        <nav>
            <h1>Lagg<span>y</span></h1>
            <ul>
                <li>Agenda</li>
                <li>user</li>
            </ul>
        </nav>
        <hr>
        <div class="action-bar">
            <div class="container-switch">
                <ul>
                    <li><button>S</button></li>
                    <li><button class='active'>M</button></li>
                    <li><button>A</button></li>
                </ul>
            </div>
            <div class="container-button"><button>+</button></div>
        </div>
        <div class="date-bar">
            <h2>Octobre 2022</h2>
            <ul>
                <li><button><</button></li>
                    <li><button>></button></li>
                </ul>
            </div>
            <main>
                <div class="calendar">
                    <ul class="calendar--days">
                        <li>L</li>
                        <li>M</li>
                        <li>M</li>
                        <li>J</li>
                        <li>V</li>
                        <li>S</li>
                        <li>D</li>
                    </ul>
                    <ul class="calendar--dates">
                        <li class="prev">30</li>
                        <li class="prev">31</li>
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                        <li>6</li>
                        <li class="active">7</li>
                        <li>8</li>
                        <li>9</li>
                        <li>10</li>
                        <li>11</li>
                        <li>12</li>
                        <li>13</li>
                        <li>14</li>
                        <li>15</li>
                        <li>16</li>
                        <li>17</li>
                        <li>18</li>
                        <li>19</li>
                        <li>20</li>
                        <li>21</li>
                        <li>22</li>
                        <li>23</li>
                        <li>24</li>
                        <li>25</li>
                        <li>26</li>
                        <li>27</li>
                        <li>28</li>
                        <li>29</li>
                        <li>30</li>
                        <li>31</li>
                        <li class="next">1</li>
                        <li class="next">2</li>
                    </ul>
                </div>
            </main>
            <footer>
                <div class="event-card">
                    <div class="hour">08:30</div>
                    <div class="description">Présentation du jour<br>
                        2 personnes</div>
                </div>
            </footer>

        </body>
    </html>